<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696897766646-6s9hl9hps5etgeur3b8purlf7tphphbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696897766646-6s9hl9hps5etgeur3b8purlf7tphphbi</string>
	<key>API_KEY</key>
	<string>AIzaSyBdGSFfDYGLOmKzlbQZC3StxVjMT4VMxvk</string>
	<key>GCM_SENDER_ID</key>
	<string>696897766646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.handlebarlabs.chatdemo</string>
	<key>PROJECT_ID</key>
	<string>chatdemo-b4df2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdemo-b4df2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696897766646:ios:e11725fb34dcace6</string>
	<key>DATABASE_URL</key>
	<string>https://chatdemo-b4df2.firebaseio.com</string>
</dict>
</plist>