<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562378685926-6ol1v0t6f136n4rec6nfs0qmpl9p2cgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562378685926-6ol1v0t6f136n4rec6nfs0qmpl9p2cgc</string>
	<key>API_KEY</key>
	<string>AIzaSyCxk28tIVyiQpuRlMmST7wOn99OzdrU7Ik</string>
	<key>GCM_SENDER_ID</key>
	<string>562378685926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.handlebarlabs.chatdemo3</string>
	<key>PROJECT_ID</key>
	<string>chatdemo3-66209</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdemo3-66209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562378685926:ios:97a33f10704a41dc7b6a27</string>
</dict>
</plist>